
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #fdfeff;
    font-family: "Open Sans", sans-serif;
}
/* ----------------------navbar---------------- */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.logo img{
    height: 40px;
}
.hamburger{
visibility: hidden;
}
.mobile-list{
    visibility: hidden;
}
.list{
    display: flex;
    align-items: center;
    list-style: none;
}

.list-item:nth-child(1){
  font-weight: bold;
}
.list-item{
    padding-left:22px ;
}
.btn-outline{
    padding:5px 10px ;
    border-radius:8px;
    color: skyblue;
    border-color: skyblue;
}

/* ----------------------hero----------------- */
.hero{
    display: flex;
    padding:2rem 5rem;
    justify-content: space-between;
    
}
.hero-left h1{
    font-size:3rem;
    padding-top:2rem;

}
.hero-left p{
    font-size: small;
    color: gray; 
    padding:30px 0px;
}
.hero-right img{
width: 500px;

}
.btn {
    padding: 12px 20px;
    background:rgb(47, 159, 187);
    border-radius: 10px;
    color: white;
    font-size: 16px;
    border-color: rgb(47, 159, 187);
}
/* --------------------testing---------------------- */
.testing{
padding:3rem 5rem;
display: flex;
align-items: center;
justify-content:space-between;
}
.testing-right{
    margin-right:5rem;
}
.testing-left img{
   height:300px; 
}

.testing-right h2{
    font-size:40px;
    padding: 20px 0px;
}
.testing-right p{
    font-size: small;
    color: gray; 
    margin-bottom:15px;
    padding:20px 0px;
}
/* ----------------------technical--------------- */
.technical-section{
     display: flex;
     justify-content:space-around; 
}

.technical-section-right img{
    height:400px; 
    
}

.technical-section-left h2{
    font-size:40px;
    padding-top:5rem;
}     
.technical-section-left p{
    font-size: small;
    color: gray; 
    margin-bottom:15px;
    padding:20px 0px;
}
/* --------------services sectors------------- */
.services-headline{
    display: flex;
    justify-content: space-evenly;
}
.services-headline h2{
    font-size:40px;
}
.services-headline p{
    font-size: small;
    color: gray; 
    padding-top: 10px; 
    
}
.services-card{
    display: flex;
    flex-wrap:wrap;
    padding:4rem 0;
    justify-content: center;
}
/* ----------------------card sectors------------------ */
.card{
    padding: 20px;
}
.card h4{
    font-weight: bolder;
    padding:10px 0;
}
.card p{
    font-size: 15px;
    color: gray; 
}
.pricing-wrapper{
    text-align: center;
    padding-top:1rem;
    padding-bottom: 4rem;
    background: #155cad;
}
.pricing-wrapper h2{
    padding:2rem 0rem;
    font-size: 45px;
}
.pricing{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.pricing-card{
    background: #f2f0f0;
    width: 300px;
    padding-bottom: 20px;
    border-radius:10px ;
    margin-top:1rem;
    /* margin-bottom: 1px; */
}
.card-heading h4 {
    font-size: 20px;
    text-align: left;
    font-weight: 700;
}
.card-heading{
    padding-left:20px;
    padding-top: 20px;
}
.card-heading p {
    font-size: 15px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 20px;
    color: gray;
}
.c-2{
background: #000;
color: white;
border-radius:10px;
}
.pricing-card-body li{
    display: flex;
    list-style:none;
    padding:10px 0;
    padding-left: 16px;
}
.pricing-card-body li span{
    background-color: rgb(7, 129, 7);
    border-radius: 50%;
    padding:5px;
  
}
.pricing-card-body li p{
color: rgb(75, 74, 74);
font-weight: bold;
padding-left:10px;
    
}

.pricing-card-body .pricing-card-footer {
    text-align: center;

}

.pricing-card-footer p{
    padding: 15px;
}
.btn-pricing{
    padding:7px 16px ;
    border-radius:8px;
    color:skyblue;
    border-color: skyblue;
}

/*-----------footer section------------- */
.footer{
    display: flex;
    align-items: center;
    padding:4rem;
    color: white;
    justify-content: space-between;
    background-color: skyblue;
}
.footer-left h1{
    padding-bottom:10px;
}
.footer-right .footer-btn{
    border-color: white;
    border-radius: 10px;
    background: transparent;
    padding:10px 20px;
}
/* --------------buttom footer---------------------- */

.bottom-footer{
    
    display: flex;
    padding:5rem 4rem 2rem 4rem;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo-container p{
    margin-top: 2rem;
color: rgb(75, 74, 74); ;
}
.footer-navbar{
    display: flex;
     flex-wrap: wrap;
     margin-top:1rem;
     gap: 4rem;
    justify-content: space-between;
}


.footer-navbar h5{
   font-size:25px;
    font-weight: 600;
    padding-bottom:1rem;
   
}
.footer-navbar li{
    list-style: none;
    padding:10px 0;
}
.Social-Med ul {
     display: flex;
     justify-content: space-between;
     gap:1rem;
}
.Social-Med img{
    height: 35px;;
}



/* ----------------customer service ----------------------*/


.customer-section{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 3rem;
}

.customer-section h1{
    font-size: 3rem;
    margin-top: 4rem;
    
}
.customer-section p{
    text-align: center;
    color: #757875;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.customer-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 4rem;
}
.customer-card{
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin-top: 2rem;
    width: 40vw;
    padding: 2rem;
    
}

.customer-card p{
    margin-top: 0;
    text-align: left;
    font-weight: 600;
}

.customer-info{
    display: flex;
    gap: 1rem;
}


@media only screen and (max-width:920px){

    .navbar{
        overflow: scroll;
    }
    /* --------------hero section---------------- */
    .hero{

        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .hero-left{
        text-align: center;
        
    }
    /* -----------------testing-section----------------- */
    .testing{
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        
    }
    .testing-right{
        text-align: center;
    }
     /* -----------------technical-section----------------- */
  .technical-section{
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 3rem;
    
  }
  .technical-section h2{
  padding-top:10px;
  }

/* ------------services sectors------------- */

.services-headline{
    flex-direction: column;
    gap:12px;
    align-items: center;
}
.services-card{
    justify-content: center;
}

}
@media only screen and (max-width: 600px){

  .hero-right img{
        width: 350px;
    }
 .hero-left h1{
        font-size: 2rem;
        
    }
/* -----------------testing-section----------------- */
    .testing-right{
        text-align: center;
    }
  .testing-left img{
        width: 350px;
    }
    .testing-right h2{
        font-size: 2rem;
        
    }
 /* -----------------technical-section----------------- */
    .technical-section{
        text-align: center;
    }
  .technical-section img{
        width: 350px;
    }
    .technical-section h2{
        font-size: 2rem;
    }
   /* ---------------------services-section------------------ */

    .services-card{
        justify-content: center;
    }
}
